body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #202124;
}

/*header section */

header {
  background-color: #f8f9fa;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
header h1 {
  font-size: 3rem;
  margin: 0;
}
.hero ul {
  list-style: none;
}
nav {
  text-align: center;
}
nav a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #202124;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: none;
}
#show-nav {
  background-color: #ffffff;
  border: #202124 1px solid;
  color: #202124;
  font-weight: 700;
  margin-bottom: 1em;
  /* font-size: 1rem; */
}
#show-nav:hover {
  background-color: #4285f4;
  color: #fbbc05;
}
#show-nav:active {
  background-color: #fbbc05;
  border: #202124 1px solid;
  border-radius: 0;
  color: #202124;
  font-weight: 700;
}
/* nav li {
  border: black 2px solid;
  margin: 0 auto;
} */

nav a:hover {
  /* color: #ea4335; */
  color: #fbbc05;
}
.active {
  color: #4285f4;
  text-decoration: underline;
}
.link-a:hover {
  color: #ea4335;
}
.link-b:hover {
  color: #fbbc05;
}
.link-c:hover {
  color: #34a853;
}
.active:hover {
  color: #4285f4;
}
@media (min-width: 765px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    margin: auto 0;
  }
  header h1 {
    padding-left: 2em;
  }
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    padding-right: 3em;
  }
  nav a {
    margin-left: 2em;
  }
  #show-nav {
    display: none;
  }
}
.hero {
  width: 100%;
  text-align: center;
}
.hero_image {
  padding: 0;
  margin: 0 auto;
  width: 60%;
}
footer {
  margin-top: auto;
  padding: 2em;
  text-align: center;
  background-color: #f8f9fa;
}
